[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на Electronicsdata
Type=Link
URL=https://github.com/Electronicsdata/Electronicsdata.github.io/commits?author=Electronicsdata
Icon=text-html
