[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на package-lock.json
Type=Link
URL=https://github.com/Electronicsdata/Electronicsdata.github.io/blob/main/package-lock.json
Icon=text-html
